// ========== CONVERT PIXELS TO REMS
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
  }

// ========== MEDIA QUERIES (MIXINS)
@mixin media-query ($size) {
    @if $size == mega-desktop {
        @media screen and (min-width: 1800px) {
            @content;
        }
    }
    @if $size == large-desktop {
        @media screen and (min-width: 1500px) {
            @content;
        }
    }
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 360px) {
            @content;
        }
    } 
    @else if $size == mobile-mini {
      @media screen and (min-width: 360px) {
          @content;
      }
  } 
  }

// ========== COLORS
$color-cta-text: hsl(356, 100%, 66%);
$color-cta-bg: hsl(355, 100%, 74%);
$color-headings: hsl(208, 49%, 24%);
$color-neutral: hsl(0, 0%, 100%);
$color-footer-bg: hsl(240, 10%, 16%);
$color-body-text: hsl(218, 5%, 32%);

// ========== GRADIENTS
$gradient-sections: linear-gradient(hsl(13, 100%, 77%), hsl(353, 100%, 54%));
$gradient-body: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));

// ========== FONT WEIGHTS
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// ========== COLORS
$font-primary: 'Overpass', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

// ========== CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
    list-style: none;
    margin: rem(0);
    padding: rem(0);
    margin-left: -40px;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

// ========== BASE
body {
    text-rendering: optimizeSpeed;
    background-color: $gradient-body;
    max-width: 100%;
    font-family: $font-primary;
  }

// ========== TYPOGRAPHY
a {
    text-decoration: none;
}
h1 {
    font-size: rem(33);
    line-height: rem(40);
    font-weight: $weight-bold;
    font-family: $font-primary;

    @include media-query(large-mobile) {
        font-size: rem(35);
        line-height: rem(40);
    }
    @include media-query(tablet) {
        font-size: rem(45);
        line-height: rem(40);
    }
    @include media-query(desktop) {
        font-size: rem(55);
        line-height: rem(40);
    }
}
h2 {
    font-size: rem(24);
    line-height: rem(40);
    font-weight: $weight-medium;
    font-family: $font-secondary;
    color: $color-headings;

    @include media-query(large-mobile) {
        font-size: rem(30);
        line-height: rem(40);
    }
    @include media-query(desktop) {
        font-size: rem(35);
        line-height: rem(40);
    }
}
h3 {
    font-size: rem(22);
    line-height: rem(29);
    font-weight: $weight-medium;
    font-family: $font-secondary;
    color: $color-headings;
}
p, a {
    font-size: rem(16);
    line-height: rem(25);
    color: $color-body-text;
    font-weight: $weight-light;
    font-family: $font-primary;

    @include media-query(desktop) {
        line-height: rem(35);
    }
}

// ========== GENERAL BUTTON STRUCTURE
.btn {
    display: block;
    background-color: $color-neutral;
    color: $color-cta-text;
    max-width: rem(200);
    padding: rem(10) rem(0);
    border-radius: rem(25);
    margin: rem(2);
    font-size: rem(15);
    font-weight: $weight-bold;
    font-family: $font-secondary;
    border: rem(1) solid $color-neutral;

    @include media-query(desktop) {
        padding: rem(7) rem(0);
    }

    &:hover {
        transition: 0.5s;
        background-color: $color-cta-bg;
        color: $color-neutral;
        border-color: $color-cta-bg;
        box-shadow: rem(0) rem(0) rem(50) $color-cta-bg;
    }
    
}
.btn2 {
    background-color: transparent;
    color: $color-neutral;
    
    &:hover {
        background-color: $color-neutral;
        color: $color-cta-bg;
    }
}

// ========== Turn elements on and off
.hidden {
    display: none;
}

// ========== HEADER AND HERO WRAP TO ENABLE BACKGROUND
.cta__wrap {
    background-image: url(images/bg-pattern-intro.svg), $gradient-sections;
    background-size: rem(1200) rem(1200);
    background-repeat: no-repeat;
    background-position: rem(-300) rem(-220);
    
    // background-image: url(images/bg-pattern-intro.svg);
    min-height: rem(550);
    max-width: 100%;
    border-radius: rem(0) rem(0) rem(0) rem(100);

    @include media-query(tablet-mini) {
        background-size: rem(2000) rem(2000);
        background-position: rem(-400) rem(-620);
    }
    @include media-query(desktop) {
        background-size: rem(3000) rem(3000);
        background-position: rem(-400) rem(-1250);
    }
    @include media-query(large-desktop) {
        background-size: rem(6000) rem(6000);
        background-position: rem(-800) rem(-2500);
    }

}

// ========== HEADER SECTION
header {
    max-width: 100%;
    min-height: rem(0);
    padding: rem(0) rem(25);
    z-index: 1000;
}

.header__container {
    max-width: rem(1050);
    margin: rem(0) auto;
    padding-top: rem(50);
    display: flex;
    align-items: center;
    
}
.logo {
    flex: 1;

    img {
        width: rem(70);
        height: auto;

        @include media-query(tablet-mini) {
            width: rem(85);
        }
        @include media-query(desktop) {
            width: rem(100);
        }
    }
}
.mobile__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

    &-icon {
        cursor: pointer;
    }
}

// ========== HERO SECTION
.hero {
    max-width: 100%;
    min-height: rem(400);
    background-color: transparent;
    padding: rem(0) rem(15);
    display: flex;
    align-items: center;

    @include media-query(mobile) {
        padding: rem(0) rem(35);
    }

    &__container {
        max-width: rem(1050);
        margin: rem(0) auto;
        text-align: center;

        h1 {
            margin: rem(55) rem(0) rem(15) rem(0);
            color: $color-neutral;
        }

        p {
            font-size: rem(16);
            line-height: rem(25);
            color: $color-neutral;
            font-weight: $weight-light;
            font-family: $font-primary;
        
            @include media-query(large-mobile) {
                font-size: rem(18);
                line-height: rem(30);
            }
            @include media-query(tablet) {
                font-size: rem(19);
                line-height: rem(32);
            }
            @include media-query(desktop) {
                font-size: rem(20);
                line-height: rem(35);
                margin-top: rem(20);
            }
        }   
    }

    &__buttons {
        max-width: rem(360);
        margin-top: rem(40);
        margin: rem(40) auto rem(0) auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @include media-query(desktop) {
            max-width: rem(320);
        }
        & > * {
            flex: 1  rem(107);
            margin: rem(5);
        }
    }
}

// ========== FEATURE SECTION 
.feature {
    max-width: rem(2000);
    min-height: rem(0);
    padding: rem(0) rem(25);
    z-index: 1000;
    margin: rem(100) rem(0);
    @include media-query(tablet) {
        background-image: url(images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-size: rem(750);
        background-position: rem(600) rem(0);
        padding-bottom: rem(90);
    }
    @include media-query(desktop) {
        margin: rem(0) auto;
        padding: rem(200) rem(25);
        background-size: rem(900);
        background-position: rem(750) rem(100);
        z-index: 1000;
    }
    @include media-query(large-desktop) {
        background-position: rem(900) rem(100);
    }
    @include media-query(mega-desktop) {
        background-position: rem(1100) rem(100);
    }

    &__container {
         max-width: rem(1050);
         margin: rem(0) auto;
    }
    &__heading {
        text-align: center;
        margin-bottom: rem(40);
    }
}
.feature__content {
    display: flex;
    flex-direction: column;

    @include media-query(tablet) {
        flex-direction: row-reverse;
        align-items: center;
    }
    &-image {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            margin: rem(0);
            text-align: center;

            @include media-query(tablet) {
                display: none;
            }
        }
    }
    &-texts {
        flex: 1;
        margin: rem(20) rem(0);
    }
    &-texts > * {
        text-align: center;
        margin: rem(50) rem(0);
        @include media-query(tablet) {
            text-align: left;
        }
    }
}
.feature__content-text {
    h3 {
        margin: rem(0) rem(40) rem(20) rem(40);
        @include media-query(tablet-mini) {
            margin: rem(0) rem(0) rem(20) rem(0);
        }
    }
}
.feature2__background {
    @include media-query(tablet) {
        background-image: url(images/illustration-laptop-desktop.svg);
        background-size: rem(750);
        background-position: rem(-250) rem(0);
    }
    @include media-query(desktop) {
        background-size: rem(900);
        background-position: rem(-260) rem(100);
    }
    @include media-query(mega-desktop) {
        background-position: rem(60) rem(100);
    }
}
.feature2__content {
    @include media-query(tablet) {
        flex-direction: row;
        align-items: center;
    }
}

// ========== EXPLAINER SECTION
.explainer {
    max-width: 100%;
    min-height: rem(400);
    padding: rem(0) rem(25);
    margin: rem(200) rem(0) rem(-30) rem(0);
    background-color: $color-headings;
    background-image:url(images/bg-pattern-circles.svg);
    background-size: 160%;
    background-attachment: $gradient-body;
    background-repeat: no-repeat;
    background-position: rem(-115) rem(-250);
    border-radius: rem(0) rem(100) rem(0) rem(100);
    @include media-query(large-mobile) {
        background-size: 100%;
        background-position: rem(0) rem(-100);
    }
    @include media-query(tablet) {
        flex-direction: row;
        margin: rem(0) rem(0) rem(0) rem(0);
        min-height: rem(400);
        background-size: 70%;
        background-position: rem(-115) rem(-450);
        border-radius: rem(0) rem(0) rem(0) rem(100);
    }
    &__container {
         max-width: rem(1050);
         margin: rem(0) auto;
         display: flex;
         flex-direction: column;
         align-items: center;

         @include media-query(tablet) {
             flex-direction: row;
             height: rem(400);
         }
         & > * {
             flex: 1;
         }
    }
    &__image {
        position: relative;
        min-height: rem(100);
        background-color: transparent;
        @include media-query(tablet) {
            z-index: 100;
        }
        @include media-query(desktop) {
            transform: translateX(rem(-50));
        }
        img {
            transform: translateY(rem(-170));
            z-index: 1000;
            @include media-query(tablet) {
                transform: translateY(rem(0));
                max-width: fit-content;
            }
        }
    }
    &__content {
        margin: rem(30) rem(0);
        text-align: center;
        margin-top: rem(-150);
        @include media-query(tablet) {
            text-align: left;
            margin: rem(0) rem(0);
            margin-top: rem(0);
        }
        h2 {
            font-size: rem(35);
            color: $color-neutral;
        }
        p {
            color: $color-neutral;
            margin: rem(25) rem(0) rem(75) rem(0);
            @include media-query(tablet) {
                margin: rem(25) rem(0) rem(0) rem(0);
            }
        }
    }
}

// ========== FOOTER
footer {
    max-width: 100%;
    min-height: rem(0);
    padding: rem(0) rem(25);
    margin-top: rem(-80);
    background-color: $color-footer-bg;
    border-radius: rem(0) rem(100) rem(0) rem(0);
    @include media-query(tablet-mini) {
        padding-top: rem(50);
        margin-top: rem(0);
    }
}
.footer__container {
    max-width: rem(1050);
    margin: rem(0) auto;
    display: flex;
    flex-direction: column;
    @include media-query(tablet-mini) {
        flex-direction: row;
    }
    & > * {
        flex: 1;
        text-align: center;
        @include media-query(tablet-mini) {
            text-align: left;
        }
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin: rem(70) rem(0);
    @include media-query(tablet-mini) {
        margin: rem(0) rem(0);
        justify-content: flex-start;
    }
}

.footer__menu {
    & > * {
        flex: 1;
    }
    &-heading {
        h2 {
            font-size: rem(18);
            color: $color-neutral
        }
    }
    a {
        color: darken($color: $color-neutral, $amount: 30%);

        @include media-query(tablet-mini) {
            padding-bottom: rem(4) ;
        }
        &:hover {
            transition: 0.5s;
            text-decoration: underline;
        }
    }
    ul {
        margin-bottom: rem(40);
    }
}