*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  margin-left: -40px;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  text-rendering: optimizeSpeed;
  background-color: linear-gradient(#2c2d3f, #3f4164);
  max-width: 100%;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
}

@media screen and (min-width: 602px) {
  h1 {
    font-size: 2.1875rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.8125rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.4375rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
}

@media screen and (min-width: 602px) {
  h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2.1875rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-size: 1.375rem;
  line-height: 1.8125rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
}

p, a {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #4e5156;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
}

@media screen and (min-width: 1200px) {
  p, a {
    line-height: 2.1875rem;
  }
}

.btn {
  display: block;
  background-color: white;
  color: #ff525d;
  max-width: 12.5rem;
  padding: 0.625rem 0rem;
  border-radius: 1.5625rem;
  margin: 0.125rem;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  border: 0.0625rem solid white;
}

@media screen and (min-width: 1200px) {
  .btn {
    padding: 0.4375rem 0rem;
  }
}

.btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ff7a85;
  color: white;
  border-color: #ff7a85;
  -webkit-box-shadow: 0rem 0rem 3.125rem #ff7a85;
          box-shadow: 0rem 0rem 3.125rem #ff7a85;
}

.btn2 {
  background-color: transparent;
  color: white;
}

.btn2:hover {
  background-color: white;
  color: #ff7a85;
}

.hidden {
  display: none;
}

.cta__wrap {
  background-image: url(images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ffa38a), to(#ff1430));
  background-image: url(images/bg-pattern-intro.svg), linear-gradient(#ffa38a, #ff1430);
  background-size: 75rem 75rem;
  background-repeat: no-repeat;
  background-position: -18.75rem -13.75rem;
  min-height: 34.375rem;
  max-width: 100%;
  border-radius: 0rem 0rem 0rem 6.25rem;
}

@media screen and (min-width: 786px) {
  .cta__wrap {
    background-size: 125rem 125rem;
    background-position: -25rem -38.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .cta__wrap {
    background-size: 187.5rem 187.5rem;
    background-position: -25rem -78.125rem;
  }
}

@media screen and (min-width: 1500px) {
  .cta__wrap {
    background-size: 375rem 375rem;
    background-position: -50rem -156.25rem;
  }
}

header {
  max-width: 100%;
  min-height: 0rem;
  padding: 0rem 1.5625rem;
  z-index: 1000;
}

.header__container {
  max-width: 65.625rem;
  margin: 0rem auto;
  padding-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo img {
  width: 4.375rem;
  height: auto;
}

@media screen and (min-width: 786px) {
  .logo img {
    width: 5.3125rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo img {
    width: 6.25rem;
  }
}

.mobile__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.mobile__menu-icon {
  cursor: pointer;
}

.hero {
  max-width: 100%;
  min-height: 25rem;
  background-color: transparent;
  padding: 0rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 360px) {
  .hero {
    padding: 0rem 2.1875rem;
  }
}

.hero__container {
  max-width: 65.625rem;
  margin: 0rem auto;
  text-align: center;
}

.hero__container h1 {
  margin: 3.4375rem 0rem 0.9375rem 0rem;
  color: white;
}

.hero__container p {
  font-size: 1rem;
  line-height: 1.5625rem;
  color: white;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
}

@media screen and (min-width: 602px) {
  .hero__container p {
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__container p {
    font-size: 1.1875rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container p {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-top: 1.25rem;
  }
}

.hero__buttons {
  max-width: 22.5rem;
  margin-top: 2.5rem;
  margin: 2.5rem auto 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .hero__buttons {
    max-width: 20rem;
  }
}

.hero__buttons > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 6.6875rem;
          flex: 1 6.6875rem;
  margin: 0.3125rem;
}

.feature {
  max-width: 125rem;
  min-height: 0rem;
  padding: 0rem 1.5625rem;
  z-index: 1000;
  margin: 6.25rem 0rem;
}

@media screen and (min-width: 992px) {
  .feature {
    background-image: url(images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: 46.875rem;
    background-position: 34.375rem 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    margin: 0rem auto;
    padding: 9.375rem 1.5625rem;
    background-size: 56.25rem;
    background-position: 46.875rem 6.25rem;
    z-index: 1000;
  }
}

@media screen and (min-width: 1500px) {
  .feature {
    background-position: 56.25rem 6.25rem;
  }
}

@media screen and (min-width: 1800px) {
  .feature {
    background-position: 75rem 6.25rem;
  }
}

.feature__container {
  max-width: 65.625rem;
  margin: 0rem auto;
}

.feature__heading {
  text-align: center;
  margin-bottom: 2.5rem;
}

.feature__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .feature__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__content-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__content-image img {
  margin: 0rem;
  text-align: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (min-width: 992px) {
  .feature__content-image img {
    display: none;
  }
}

.feature__content-texts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3.125rem 0rem;
}

.feature__content-texts > * {
  text-align: center;
  margin: 3.125rem 0rem;
}

@media screen and (min-width: 992px) {
  .feature__content-texts > * {
    text-align: left;
  }
}

.feature__content-text h3 {
  margin: 0rem 2.5rem 1.25rem 2.5rem;
}

@media screen and (min-width: 786px) {
  .feature__content-text h3 {
    margin: 0rem 0rem 1.25rem 0rem;
  }
}

.feature2__image img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: auto;
}

.explainer {
  max-width: 100%;
  min-height: 31.25rem;
  padding: 0rem 1.5625rem;
  margin: 15.625rem 0rem -1.875rem 0rem;
  background-color: #1f3f5b;
  background-image: url(images/bg-pattern-circles.svg);
  background-size: 160%;
  background-attachment: linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: -7.1875rem -15.625rem;
  border-radius: 0rem 6.25rem 0rem 6.25rem;
}

.explainer__container {
  max-width: 65.625rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explainer__container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.explainer__image {
  position: relative;
  min-height: 6.25rem;
  background-color: transparent;
}

.explainer__image img {
  -webkit-transform: translateY(-10.625rem);
          transform: translateY(-10.625rem);
  z-index: 1000;
  max-width: 23.75rem;
  max-height: auto;
}

.explainer__content {
  margin: 1.875rem 0rem;
  text-align: center;
  margin-top: -9.375rem;
}

.explainer__content h2 {
  font-size: 2.1875rem;
  color: white;
}

.explainer__content p {
  color: white;
  margin: 1.5625rem 0rem 4.6875rem 0rem;
}

footer {
  max-width: 100%;
  min-height: 0rem;
  padding: 0rem 1.5625rem;
  margin-top: 6.25rem;
  background-color: #25252d;
  border-radius: 0rem 6.25rem 0rem 0rem;
}

.footer__container {
  max-width: 65.625rem;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4.375rem 0rem;
}

.footer__logo img {
  text-align: center;
}

.footer__menu-heading h2 {
  font-size: 1.125rem;
  color: white;
}

.footer__menu a {
  color: #b3b3b3;
}

.footer__menu ul {
  margin-bottom: 2.5rem;
}
/*# sourceMappingURL=styles.css.map */