// ========== CONVERT PIXELS TO REMS
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
  }

// ========== MEDIA QUERIES (MIXINS)
@mixin media-query ($size) {
    @if $size == large-desktop {
        @media screen and (min-width: 1500px) {
            @content;
        }
    }
    @if $size == desktop {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (min-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (min-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (min-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (min-width: 360px) {
            @content;
        }
    } 
    @else if $size == mobile-mini {
      @media screen and (min-width: 360px) {
          @content;
      }
  } 
  }

// ========== COLORS
$color-cta-text: hsl(356, 100%, 66%);
$color-cta-bg: hsl(355, 100%, 74%);
$color-headings: hsl(208, 49%, 24%);
$color-neutral: hsl(0, 0%, 100%);
$color-footer-bg: hsl(240, 10%, 16%);
$color-body-text: hsl(218, 5%, 32%);

// ========== GRADIENTS
$gradient-sections: linear-gradient(hsl(13, 100%, 77%), hsl(353, 100%, 54%));
$gradient-body: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));

// ========== FONT WEIGHTS
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// ========== COLORS
$font-primary: 'Overpass', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

// ========== CSS RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
    list-style: none;
    margin: rem(0);
    padding: rem(0);
    margin-left: -40px;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}
//------- Controls Animations
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ========== BASE
body {
    text-rendering: optimizeSpeed;
    background-color: $gradient-body;
    max-width: 100%;
    font-family: $font-primary;
  }

// ========== TYPOGRAPHY

a {
    text-decoration: none;

}

h1 {
    font-size: rem(30);
    line-height: rem(40);
    font-weight: $weight-semi-bold;
    font-family: $font-secondary;
}

h2 {
    font-size: rem(24);
    line-height: rem(40);
    font-weight: $weight-medium;
    font-family: $font-secondary;
    color: $color-headings;
}

h3 {
    font-size: rem(22);
    line-height: rem(29);
    font-weight: $weight-medium;
    font-family: $font-secondary;
    color: $color-headings;
}

p, a {
    font-size: rem(16);
    line-height: rem(28);
    color: $color-body-text;
    font-weight: $weight-light;
    font-family: $font-primary;
}

// ========== GENERAL BUTTON STRUCTURE
.btn {
    display: block;
    background-color: $color-neutral;
    color: $color-cta-text;
    padding: rem(12) rem(5);
    border-radius: rem(25);
    margin: rem(2);
    font-size: rem(15);
    font-weight: $weight-bold;
    border: rem(1) solid $color-neutral;
}
.btn2 {
    background-color: transparent;
    color: $color-neutral;
}

// ========== HEADER AND HERO WRAP TO ENABLE BACKGROUND
.cta__wrap {
    background-image: url(images/bg-pattern-intro.svg), $gradient-sections;
    background-size: rem(1200) rem(1200);
    background-repeat: no-repeat;
    background-position: rem(-300) rem(-220);
    
    // background-image: url(images/bg-pattern-intro.svg);
    min-height: rem(550);
    max-width: 100%;
    border-radius: rem(0) rem(0) rem(0) rem(100);

    @include media-query(tablet-mini) {
        background-size: rem(2000) rem(2000);
        background-position: rem(-400) rem(-620);
    }
    @include media-query(desktop) {
        background-size: rem(3000) rem(3000);
        background-position: rem(-400) rem(-1250);
    }
    @include media-query(large-desktop) {
        background-size: rem(6000) rem(6000);
        background-position: rem(-800) rem(-2500);
    }

}

// ========== HEADER SECTION
header {
    max-width: 100%;
    min-height: rem(0);
    // background-color: yellow;
    padding: rem(0) rem(25);
    z-index: 1000;
}

.header__container {
    max-width: rem(1050);
    margin: rem(0) auto;
    padding-top: rem(50);
    // background-color: black;
    display: flex;
    align-items: center;
    
}
.logo {
    // background-color: blue;
    flex: 1;

    img {
        width: rem(70);
        height: auto;
    }
}
.mobile__menu {
    // background-color: rgb(15, 102, 15);
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

// ========== HERO SECTION
.hero {
    max-width: 100%;
    min-height: rem(400);
    background-color: transparent;
    padding: rem(0) rem(15);
    display: flex;
    align-items: center;

    @include media-query(mobile) {
        padding: rem(0) rem(35);
    }

    &__container {
        max-width: rem(1050);
        margin: rem(0) auto;
        // background-color: rgb(255, 255, 255);
        text-align: center;

        h1 {
            margin: rem(55) rem(0) rem(15) rem(0);
            color: $color-neutral;
            
        }

        p {
            color: $color-neutral;
        }
    }

    &__buttons {
        margin-top: rem(40);
        // background-color: green;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        & > * {
            flex: 1  rem(107);
            margin: rem(5);
        }
    }
}



// ========== FEATURE SECTION 


.feature {
    max-width: 100%;
    min-height: rem(0);
    padding: rem(0) rem(25);
    z-index: 1000;
    margin: rem(100) rem(0);

    &__container {
         max-width: rem(1050);
         margin: rem(0) auto;
    }

    &__heading {
        text-align: center;
        margin-bottom: rem(40);
    }
}

.feature__content {

    &-image {
        display: flex;
        justify-content: center;

        img {
            margin: rem(0);
            text-align: center;
            max-width: fit-content;
            height: auto;
        }
    }

    &-texts {
        margin: rem(50) rem(0);
    }

    &-texts > * {
        text-align: center;
        margin: rem(50) rem(0);
    }
}

.feature__content-text {
    h3 {
        margin: rem(0) rem(40) rem(20) rem(40);

    }
}

.feature2__image {

    img {
        max-width: fit-content;
        max-height: auto;
    }
}
// ========== EXPLAINER SECTION

.explainer {
    max-width: 100%;
    min-height: rem(500);
    padding: rem(0) rem(25);
    margin: rem(250) rem(0) rem(-30) rem(0);
    background-color: $color-headings;
    background-image:url(images/bg-pattern-circles.svg);
    background-size: 160%;
    background-attachment: $gradient-body;
    background-repeat: no-repeat;
    background-position: rem(-115) rem(-250);
    border-radius: rem(0) rem(100) rem(0) rem(100);

    &__container {
         max-width: rem(1050);
         margin: rem(0) auto;
         display: flex;
         flex-direction: column;
         align-items: center;

         & > * {
             flex: 1;
         }
    }

    &__image {
        position: relative;
        min-height: rem(100);
        background-color: transparent;
        // padding-bottom: rem(-300);

        img {
            transform: translateY(rem(-170));
            z-index: 1000;
            max-width: rem(380);
            max-height: auto;
        }
    }
    
    &__content {
        // background-color: #fff;
        // transform: translateY(rem(-170));
        margin: rem(30) rem(0);
        text-align: center;
        margin-top: rem(-150);

        h2 {
            font-size: rem(35);
            color: $color-neutral;
        }
        p {
            color: $color-neutral;
            margin: rem(25) rem(0) rem(75) rem(0);
        }

    }
    
}

// ========== FOOTER

footer {
    max-width: 100%;
    min-height: rem(0);
    padding: rem(0) rem(25);
    margin-top: rem(100);
    background-color: $color-footer-bg;
    border-radius: rem(0) rem(100) rem(0) rem(0);
}

.footer__container {
    max-width: rem(1050);
    margin: rem(0) auto;
    display: flex;
    flex-direction: column;
    // background-color: #fff;

    & > * {
        flex: 1;
        text-align: center;
    }
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin: rem(70) rem(0);
    img {
        text-align: center;
    }
}

.footer__menu {

    &-heading {
        h2 {
            font-size: rem(18);
            color: $color-neutral
        }
    }

    a {
        color: darken($color: $color-neutral, $amount: 30%);
    }
    
    ul {
        margin-bottom: rem(40);
    }
}






// ========== COLORS
// ========== COLORS
// ========== COLORS
// ========== COLORS
// ========== COLORS
// ========== COLORS
// ========== COLORS
// ========== COLORS
